body {
    background-image: url('./pizza-table.jpg');
    background-size: 100% ;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

#aboutpara {
    width: 500px;
}