html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: url('./images/backgroundpizza.jpg') no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

#content {
    height: calc(100% - 53px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    padding-top: 53px;
    overflow: hidden;
}

#contentbox {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#selectbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid black;
}

#guyphoto {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-top: 50px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menuitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-basis: calc(100%/3);
    background-color: white;
    border-radius: 25px;
    border: 2px solid black; 
    margin-top: 40px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.para {
    width: 500px;
}

.barlist {
    margin: 0 15px 8px 15px;
    text-align: center;
    border-bottom: 3px solid black;
}

.barlist:hover {
    color: burlywood;
    border-bottom: 0px;
    cursor: pointer;
}

.menuphotos {
    max-width: calc(100%/3);
    width: auto;
    height: auto;
    border: 6px solid black;
    border-radius: 25px;
}

.photocoll {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.photos {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 6px solid black;
}

.fooddesc {
    width: calc(100% - 40px);
}

@keyframes movedown {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 100%);
    }
}

@keyframes moveup {
    from {
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}